<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>
		<br/>

		<form action="noticia/salvar" method="POST">
			
			<label for="titulo">Título</label> <br/>
			<input type="text" id="titulo" name="titulo">
			<br/><br/>

			<label for="noticia">Notícia</label> <br/>
			<textarea id="noticia" name="noticia" rows="10" cols="20"></textarea>
			<br/><br/>

			<button type="submit">Enviar</button>

		</form>

	</body>
</html>